.displayOuter {
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.displayInner {
  max-width:500px;
}

.timer {

}

.completeRing {
  margin-top:-7px;
  width: 84px;
  height: 84px;
  border-radius: 84px;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
  position: absolute;
}

.unitIcon {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border-width: 0px;
  background: #CFE8FF;
  background-position : 81px center;
  background-size: 95px 85px;
  z-index: 50;
}

.lockedCover1 {
  position:absolute;
  border-radius: 70px;
  width:70px;
  height:70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.lockedCover2 {
  position:absolute;
  border-radius: 70px;
  background-color: white;
  width:70px;
  height:70px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.unitIcon:hover {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  opacity: 0.8;
}

.unitBtnPadLeft {
  padding-left: 50px
}

.unit {
  padding-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width:400px;
}


.alignedVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignedHorizontal {
  display: flex;
  align-items: center;
}

.bigChallengeBtn {
  width:100%;
  border-radius: 70px;
  height:70px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
}

.egg {
  background-image: url("../../Img/lessonEgg.png");
}

.hatch {
  background-image: url("../../Img/lessonHatch.png");
}

#pointsDiv {
  border-radius: 25px;
  background: #CFE8FF;
  width: 500px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

.dashboadNavElem {
  color:black;
  line-height: 100%;
  display:flex;
  align-items:center;
}



.boxContainer {
  display: flex;
  padding:20px;
  padding-bottom: 0px;
}
.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center;
  line-height: 100%;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }

.dashboardLogo{
  width:100px;
}

.dashboardNav {
  width:100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding-left:20px;
  padding-right: 20px;
}