.commandButton {
  margin-right:10px;
  width:150px;
}

.commandButtons {
  margin-right:-10px;

}

.guessImg {
  max-height: 200px
}

.worldGuesses {
  display:flex;
  justify-content: space-between;
  width:80vw;
}

.instructionBox {
  background-color: #ccf2ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}