.commandButton {
  margin-right:10px;
  width:150px;
}

.commandButtons {
  margin-right:-10px;
  display: flex;
}

.navContainer {
  display: flex;
  font-size: 18px;
}
.navItem {
  display: flex;
  justify-content: center;
  align-items:center;
  line-height: 100%;
}

.navItem:first-child > span { margin-right: auto; }

.navItem:last-child  > span { margin-left: auto;  }


.guessImg {
  max-height: 200px
}

.worldGuesses {
  display:flex;
  justify-content: space-between;
  width:80vw;
}

.instructionBlue {
  background-color: #ccf2ff;
}

.instructionGreen {
  background-color: lightgreen
}

.instructionRed {
  background-color: pink
}

.instructionBox {
  
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  max-width:100%;
}